body, html {
    margin: 0;
}

a {
    color: #924A17;
    font-weight: bold;
    font-size: 0.8em;
    letter-spacing: 0.3em;
    font-family:'Montserrat', sans-serif;
    text-decoration: none;
}

header {
    padding: 2em;
}

.logo {
    color:black;
    font-family: 'Cormorant Garamond', serif;
    text-align: center;
    margin: -0;
    padding-left: 1.618em;
    font-size: 50px;
    letter-spacing: 0.2em;
    cursor: pointer;
    z-index: +1;
}





.menu-btn {
    width: 22px;
    float: right;
    cursor: pointer;
}

nav {
    position: relative;
    background:#FCF8F5;
    padding: 2em;
    width: calc(100% - 4em);
    height: calc(100vh - 4em);
    display: none;
    transform: scaleX(0);
    transform-origin: right;
    overflow-y: auto;
}

.exit-btn {
    width: 23px;
    float: right;
    cursor: pointer;
    opacity: 0;
}

ul { 
    list-style: none;
    margin: 10% auto 0 auto;
    padding: 0%;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    width: 80%;
}

span {
    color: grey;
    display: block;
    font-size: .75em;
    margin-top: 20px;
}

.show-menu {
    display: block;
    animation: slide-menu 1s ease-in forwards;
}
.exit-btn {
    animation: show-x 1s 1s forwards;
}

li {
    opacity: 0;
}

li:nth-of-type(1) {
    animation: menu-item-anim .6s forwards 1s ease-in-out;
}
li:nth-of-type(2) {
    animation: menu-item-anim .6s forwards 1.2s ease-in-out;
}
li:nth-of-type(3) {
    animation: menu-item-anim .6s forwards 1.4s ease-in-out;
}
li:nth-of-type(4) {
    animation: menu-item-anim .6s forwards 1.6s ease-in-out;
}
li:nth-of-type(5) {
    animation: menu-item-anim .6s forwards 1.8s ease-in-out;
}
li:nth-of-type(6) {
    animation: menu-item-anim .6s forwards 2s ease-in-out;
}

@keyframes slide-menu {
    from {
        transform: scaleX(0);
    }
    to {
        transform: scaleX(1);
    }
}

@keyframes show-x {
        from {
           opacity: 0;
        }
        to {
           opacity: 1;
        }
}

@keyframes menu-item-anim {
    from {
        transform: translateY(60%);
        opacity: (0);
    }
  to {
        transform: translateY(0);
        opacity: 1;
    }
}
img:nth-of-type(1) {
    animation: show-x 3s forwards;
}




.font3 { 
    color:black;
    font-family: 'Sen', sans-serif;
    float: right;
    margin: 0;
    padding-right: 2em;
    font-size: 11px;
    letter-spacing: 0.2em;
    cursor: pointer;
}




.vertical_right {
    position: sticky;
    top: 250px;
    font-family: 'Sen', sans-serif;
    letter-spacing: 1em;
    font-size: 6px;
    padding: 2em;
    writing-mode: vertical-rl;
    text-orientation: mixed;
    float: right;
    z-index: -1;
}
.vertical_left {
    position: sticky;
    top: 250px;
    font-family: 'Sen', sans-serif;
    letter-spacing: 1em;
    font-size: 6px;
    padding: 2em;
  writing-mode: vertical-lr;
    text-orientation: mixed;
    float: left;
    z-index: -1;
}
._zindex {
    z-index: +3;
}





.mosaic {
    display: grid;
    grid-template-columns: 5% 5fr 3fr 0.5fr;
    grid-template-rows: 0.5fr 0.5fr 1.2fr 0.35fr 0.35fr 1fr;
    height: 800px;
}
.mosaic--main {
        grid-area: 3/2/4/3;
}
.font1 { 
    font-family: 'Cormorant Garamond', serif;
    letter-spacing: -0.04em;
    font-size: 90px;
    display: inline;
    white-space: nowrap;
}
.font1_italic { 
    color: black;
    font-family: 'Cormorant Garamond', serif;
    margin: 0;
    font-style: italic;
    font-size: 90px;
    display: inline;
    white-space: nowrap;
}
.font4 { 
    color:black;
    font-family: 'Sen', sans-serif;
    font-size: 11px;
    letter-spacing: 0.3em;
    color:black;
    cursor: pointer;
    z-index: -1;
}
.mosaic--sub {
    grid-area: 4/2/5/3;
  }

.mosaic--button {
    grid-area: 5/2/6/3;
  }

.mosaic--image {
grid-area: 2/3/6/4;
}

.frontonwomen {
    width: 30em;
    height: auto;
    z-index: -1;
}








.mosaic2 {
    display: grid;
    grid-template-columns: 5% 2fr 1fr 1.5fr 1fr 3fr 1fr 0.5fr;
    grid-template-rows: 0.3fr 0.5fr 0.5fr 0.5fr 1fr 1fr;
    height: 900px;
}
.mosaic--seafoam{
    grid-area: 2/2/6/3;
}
.seafoam {
    width: 26em;
    height: auto;
}
.mosaic--about{
    grid-area: 3/5/4/7;
}
.mosaic--earrings{
    grid-area: 5/4/8/6;
}
.earrings1 {
    width: 22em;
    height: auto;
    z-index: -1;
}
.mosaic--sociallinks {
    grid-area: 6/7/7/8;
}
.social_links {
    width: 2em;
    height: auto;
    z-index: 1;
    cursor: pointer;
}
.font8 {
    color:black;
    font-family: 'Sen', sans-serif;
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 1.8em;
    display: block;
    color:black;
    cursor: pointer;
    z-index: -1;
}







.mosaic--container {
    position: relative;
    top: -100px;
    z-index: -2;
    width: 90%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}
.mosaic3 {
    display: grid;
    grid-template-columns: 5% 5fr 3fr 0.5fr;
    grid-template-rows: 1fr 2fr 1fr 0.5fr 1fr;
    height: 800px;
}
.mosaic--press{
    grid-area: 2/2/4/3;
}
.mosaic--womendown {
    grid-area: 2/3/4/4;
}
.womendown {
    width: 25em;
    height: auto;
    z-index: -1;
}











footer {
    z-index: -1;
    position: relative;
    font-family:'sen',sans-serif;
    font-size: 10px;
    color:#924A17;
    font-style: normal;
    letter-spacing: 0.3em;
    padding-top: 4em;
    height: 150px;
    background-color:#DAC2B8;
    text-align: center;
  }

.footer--span {
    z-index: -1;
    position: relative;
    font-family:'sen',sans-serif;
    font-size: 10px;
    color:#924A17;
    letter-spacing: 0.05em;
    text-align: center;
}









.container {
    position: relative;
    text-align: center;
    
   
  }
.centered {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family:'sen',sans-serif;
    font-size: 30px;
    color:white;
    font-weight: 100;
    letter-spacing: 0.5em;
}
   




h1 {
    text-align: center;
    font-family: 'Cormorant Garamond', serif;
    font-weight: 100;
    font-size: 20px;
}


.gallery--container {
    position: relative;
    z-index: -2;
    top: -0px;
    width: 88%;
   display: block;
   margin-left: auto;
   margin-right: auto;
}

.gallery {
    display: grid;
    grid-template-columns:  1.5fr 0.2fr 0.2fr 1.5fr 0.2fr 0.2fr 1.5fr 0.2fr 0.2fr 1.5fr 0.2fr;
    grid-template-rows: 0.5fr 0.15fr 0.1fr 0.5fr 0.15fr 0.1fr 0.5fr 0.15fr 0.1fr 0.5fr 0.15fr 0.1fr ;
    height: 2000px;
}

.form_zindex {
    z-index: +1;
}

.gallery-image {
    width: 18.2em;
    height: 23.5em;
}

.gallery--item1 {
    grid-area: 1/1/2/3;
  }
  .gallery--item2 {
    grid-area: 1/4/2/6;
  }
  .gallery--item3 {
    grid-area: 1/7/2/9;
  }
  .gallery--item4 {
    grid-area: 1/10/2/12;
  }
  .gallery--item5 {
    grid-area: 4/1/5/3;
  }
  .gallery--item6 {
    grid-area: 4/4/5/6;
  }
  .gallery--item7 {
    grid-area: 4/7/5/9;
  }
  .gallery--item8 {
    grid-area: 4/10/5/12;
  }
  .gallery--item9 {
    grid-area: 7/1/8/3;
  }
  .gallery--item10 {
    grid-area: 7/4/8/6;
  }
  .gallery--item11 {
    grid-area: 7/7/8/9;
  }
  .gallery--item12 {
    grid-area: 7/10/8/12;
  }
  .gallery--item13 {
    grid-area: 10/1/11/3;
  }
  .gallery--item14 {
    grid-area: 10/4/11/6;
  }
  .gallery--item15 {
    grid-area: 10/7/11/9;
  }
  .gallery--item16 {
    grid-area: 10/10/11/12;
  }


  .image--title {
    grid-area: 2/1/3/2; 
  }
  .image--title2 {
    grid-area: 2/4/3/5; 
  }
  .image--title3 {
    grid-area: 2/7/3/8; 
  }
  .image--title4 {
    grid-area: 2/10/3/11; 
  }
  .image--title5 {
    grid-area: 5/1/6/2; 
  }
  .image--title6 {
    grid-area: 5/4/6/5; 
  }
  .image--title7 {
    grid-area: 5/7/6/8; 
  }
  .image--title8 {
    grid-area: 5/10/6/11; 
  }
  .image--title9 {
    grid-area: 8/1/9/2; 
  }
  .image--title10 {
    grid-area: 8/4/9/5; 
  }
  .image--title11 {
    grid-area: 8/7/9/8; 
  }
  .image--title12 {
    grid-area: 8/10/9/11; 
  }
  .image--title13 {
    grid-area: 11/1/12/2; 
  }
  .image--title14 {
    grid-area: 11/4/12/5; 
  }
  .image--title15 {
    grid-area: 11/7/12/8; 
  }
  .image--title16 {
    grid-area: 11/10/12/11; 
  }


  .title {
    padding-top: 1em;
    font-family: 'Sen', sans-serif;
    font-size: 12px;
    font-weight: 500;
    letter-spacing: 0.3em;
    color: black;
    z-index: -1;
  }

  .price--title {
    font-family: 'Sen', sans-serif;
    font-size: 13px;
    font-weight: 600;
    letter-spacing: 0.3em;
    color: black;
    z-index: -1;
  }

.heart--icon {
    grid-area: 2/2/3/3;
}
.heart--icon2 {
    grid-area: 2/5/3/6;
}
.heart--icon3 {
    grid-area: 2/8/3/9;
}
.heart--icon4 {
    grid-area: 2/11/3/12;
}
.heart--icon5 {
    grid-area: 5/2/6/3;
}
.heart--icon6 {
    grid-area: 5/5/6/6;
}
.heart--icon7 {
    grid-area: 5/8/6/9;
}
.heart--icon8 {
    grid-area: 5/11/6/12;
}
.heart--icon9 {
    grid-area: 8/2/9/3;
}
.heart--icon10 {
    grid-area: 8/5/9/6;
}
.heart--icon11 {
    grid-area: 8/8/9/9;
}
.heart--icon12 {
    grid-area: 8/11/9/12;
}
.heart--icon13 {
    grid-area: 11/2/12/3;
}
.heart--icon14 {
    grid-area: 11/5/12/6;
}
.heart--icon15 {
    grid-area: 11/8/12/9;
}
.heart--icon16 {
    grid-area: 11/11/12/12;
}

.heart--btn {
    background: none;
     border: none; 
    color: white;
    -webkit-text-stroke-width: 1px;
  -webkit-text-stroke-color: black;
    padding-left: 1em;
    padding-top: 0.5em;
    font-size: 16px;
    cursor: pointer;
}